<script id="bootstrap-current-user" type="text/javascript">
  <% if false %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
           user: current_user).html_safe %>
  <% end %>
</script>
<div id="map"></div>
